:root {
  --header-background: #bfbfbf;
  --background-color: #d9d9d9;
  --logo-color: black;
  --addbutton-color: #ffaa6e;
  --addbutton-textcolor: #fff9e3;
  --startbutton-color: #799851;
  --endbutton-color: #cc6444;
  --startendbutton-textcolor: #fff6c1;
  --instructions-background: #fff9e3;
  --instructions-textcolor: #d38650;
  --buttons-color: #bfbfbf;
}

@font-face {
  font-family: kodchasan-bold;
  src: url(./assets/font/Kodchasan/Kodchasan-Bold.ttf);
}
@font-face {
  font-family: kodchasan-bold;
  src: url(./assets/font/Kodchasan/Kodchasan-Bold.ttf);
}
@font-face {
  font-family: josefin-slab;
  src: url(./assets/font/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}


body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--background-color);
  /* overflow-y: hidden ; */
}

main {
  width: 430px;
}

header {
  height: 80px;
  background-color: var(--header-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: kodchasan-bold;
  font-size: 20px;
}

.middle-section {
  display: flex;
  gap: 5px;
  align-items: center;
}

#information-icon {
  width: 30px;
  height: 30px;
  background-image: url(./assets/icon/370079_info_information_data_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#egg-logo {
  width: 30px;
  height: 30px;
}

/*---------------WELCOME-SPLASH-------------------*/

.welcome-splash{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 430px;
    height: 932px;
}

.upper-wrapper{
    display: flex;
    gap: 5px;
    justify-content: baseline;
}

#egg-image-logo{
    width: 60px;
    height: 60px;
}

#egg-logotext-splash{
    font-family: kodchasan-bold;
    font-size: 32px;
    margin-bottom:0;
}

#sponsored{
    font-family: josefin-slab;
    font-size: 14px;
    width: 130px;
}

/*-----------------EGG-SELECTION-SECTION--------------------------*/
.egg-selection-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
}
.egg-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}


#small-egg-picture{
    width: 80px;
    height: 80px;
}
#medium-egg-picture{
    width: 100px;
    height: 100px;
}
#large-egg-picture{
    width: 120px;
    height: 120px;
}

#next-button{
    background-image: url(./assets/icon/1814086_arrow_forward_next_right_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 85px;
    height: 50px;
    background-color: var(--buttons-color);
    border: none;
    border-radius: 10px;
    margin-left: 300px;
}

#choose-egg-size-text{
    margin: 40px;
}

#add-egg-button{
    background-color: var(--addbutton-color);
    color: var(--addbutton-textcolor);
    font-family: kodchasan-bold;
    font-size: 18px;
    width: 180px;
    height: 55px;
    text-align: center;
    border: none;
    border-radius: 50px;
    margin-left: 100px;
    margin-top: 20px;
}
