:root {
  --header-background: #bfbfbf;
  --background-color: #d9d9d9;
  --logo-color: black;
  --addbutton-color: #ffaa6e;
  --addbutton-textcolor: #fff9e3;
  --startbutton-color: #799851;
  --endbutton-color: #cc6444;
  --startendbutton-textcolor: #fff6c1;
  --instructions-background: #fff9e3;
  --instructions-textcolor: #d38650;
  --buttons-color: #bfbfbf;
}

@font-face {
  font-family: kodchasan-bold;
  src: url(./assets/font/Kodchasan/Kodchasan-Bold.ttf);
}
@font-face {
  font-family: kodchasan-bold;
  src: url(./assets/font/Kodchasan/Kodchasan-Bold.ttf);
}
@font-face {
  font-family: josefin-slab;
  src: url(./assets/font/Josefin_Slab/JosefinSlab-VariableFont_wght.ttf);
}

@font-face{
    font-family: inter;
    src: url(./assets/font/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: var(--background-color);
  /* overflow-y: hidden ; */
}

main {
  width: 430px;
}

header {
  height: 80px;
  background-color: var(--header-background);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 110px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-family: kodchasan-bold;
  font-size: 20px;
}

.middle-section {
  display: flex;
  gap: 5px;
  align-items: center;
}

#information-icon {
  width: 30px;
  height: 30px;
  background-image: url(./assets/icon/370079_info_information_data_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

#egg-logo {
  width: 30px;
  height: 30px;
}

/*---------------WELCOME-SPLASH-------------------*/

.welcome-splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 430px;
  height: 932px;
}

.upper-wrapper {
  display: flex;
  gap: 5px;
  justify-content: baseline;
}

#egg-image-logo {
  width: 60px;
  height: 60px;
}

#egg-logotext-splash {
  font-family: kodchasan-bold;
  font-size: 32px;
  margin-bottom: 0;
}

#sponsored {
  font-family: josefin-slab;
  font-size: 14px;
  width: 130px;
}

/*-----------------EGG-SELECTION-SECTION--------------------------*/
.egg-selection-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.egg-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* New shared styles for egg buttons */
.egg-button {
  background-image: url(./assets/image/egg.png);
  background-color: transparent; /* Remove default button background color */
  border: none; /* Remove default button border */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.3));
  cursor: pointer;
}

.egg-button:hover{
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
}

#small-egg-button {
  width: 90px;
  height: 90px;
}
#medium-egg-button {
  width: 110px;
  height: 110px;
}
#large-egg-button {
  width: 130px;
  height: 130px;
}

#next-button {
  background-image: url(./assets/icon/1814086_arrow_forward_next_right_icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 85px;
  height: 50px;
  background-color: var(--buttons-color);
  border: none;
  border-radius: 10px;
  margin-left: 300px;
}

#choose-egg-size-text {
  margin: 40px;
}

#add-egg-button {
  background-color: var(--addbutton-color);
  color: var(--addbutton-textcolor);
  font-family: kodchasan-bold;
  font-size: 18px;
  width: 180px;
  height: 55px;
  text-align: center;
  border: none;
  border-radius: 50px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-egg-button:hover {
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.3));
    cursor:pointer;
}

.egg-wrapper div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#S-size,
#M-size,
#L-size {
  position: absolute;
  color: var(--addbutton-textcolor);
  font-family: kodchasan-bold;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

#S-size {
  font-size: 18px; /* justera efter smak */
}

#M-size {
  font-size: 20px;
}
#L-size {
  font-size: 22px;
}

.egg-selection-container {
  display: block;

}

.hidden-section {
  display: none;
}

.s-section, .m-section, .l-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.number-input{
    width: 140px;
    height: 50px;
    border:3px solid var(--addbutton-color);
    border-radius: 5px;
    font-family: inter;
}

.delete-button{
    background-color: var(--endbutton-color);
    background-image: url(./assets/icon/8155520_close_delete_remove_cancel_trash_icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 55px;
    height: 55px;
    opacity: 0.7;
    border: 1px solid var(--addbutton-color);
    border-radius: 5px;
    
}

.delete-button:hover{
    filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.3));
}

#S, #M, #L{
    font-family: kodchasan-bold;
    font-size: 24px;
}


/*------------timer-section-------------*/

